				/* new styles by dxkite */
	body
{
  font-family: "Courier New", Courier, Arial, courier, monospace margin:0px;
  padding:0px;
}

#title
{
  font-size:16px;
  background: #8AC007;
  padding:10px;
  text-align:center;
}

#code
{
  padding:10px;
  border-radius:10px;
  background:
#aaa;
}

.img
{
  border-radius:10px;
  height:90%;
}

pre
{
  margin-top:15px;
  margin-right:auto;
  margin-bottom:15px;
  margin-left:auto;
  font-family:'courier new';
  font-size:12px;
  font-style:normal;
  font-variant:normal;
  font-weight:normal;
  line-height:20px;
  border-top-width:1px;
  border-right-width:1px;
  border-bottom-width:1px;
  border-top-style:solid;
  border-right-style:solid;
  border-bottom-style:solid;
  border-left-style:solid;
  border-top-color:rgb(221, 221, 221);
  border-right-color:rgb(221, 221, 221);
  border-bottom-color:rgb(221, 221, 221);
  border-left-color:rgb(221, 221, 221);
  border-image:initial;
  border-left-width:4px;
  background-image:url(codecolorer_bg.gif);
  background-attachment:initial;
  background-origin:initial;
  background-clip:initial;
  background-color:rgb(251, 251, 251);
  background-size:initial;
  padding-top:10px;
  padding-right:15px;
  padding-bottom:10px;
  padding-left:15px;
  white-space:pre-wrap;
  word-break:break -all;
  word-wrap:break -word;
  background-position:50% 0%;
  background-repeat:initial initial;
}

#page
{
  border-radius:10px;
  border:2px solid #8AC007;
  padding:10px;
  margin:10px;
}